@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquard+24&family=Jaini&family=Kolker+Brush&display=swap');

*{
    font-family: "Kolker Brush", cursive;
    margin:0;
    padding: 0;
    box-sizing: none;
    
    body{
        background-color: black;
        color:white;
    }
}